body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

pre {
  background: black;
  padding: 10px;
  overflow-x: auto;
}

input, textarea, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

button {
  background: #22c55e;
  border: none;
  cursor: pointer;
}

footer a {
  margin-right: 10px;
  color: #38bdf8;
}
