body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

pre {
  background: black;
  padding: 10px;
  overflow-x: auto;
}

.owner {
  color: gold;
  font-weight: bold;
}

.dev {
  color: #38bdf8;
  font-weight: bold;
}

input, textarea, select, button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

button {
  background: #22c55e;
  border: none;
}
